numpy
opencv-python-headless
Pillow
torch
torchvision
segmentation-models-pytorch
timm
transformers
scikit-learn
tqdm
streamlit==1.40.0
matplotlib
seaborn
openai
python-dotenv
plotly
kaleido
google-cloud-firestore
google-auth
requests
peft
fpdf2
pydicom
streamlit-drawable-canvas
mobile_sam @ git+https://github.com/ChaoningZhang/MobileSAM.git
